.App {
  text-align: center;
}


.logo {
  height: 35px;
  
}

.header-logo {
  display: flex;
  align-items: center;
}

.header-logo img {
  margin-right: 10px; /* Adjust as needed */
}

.input-group {
  max-width: 1200px;
  margin: 0 auto;
 height: 45px;
 
}

/* .form-control{
  max-height: 500px;
} */

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.text-dark{
  text-align: left;
  white-space: pre-wrap !important;
  font-size: medium;
}



