.App {
  text-align: center;
 
}


.logo {
  height: 35px;
  
}

.header-logo {
  display: flex;
  align-items: center;
}

.header-logo img {
  margin-right: 10px; /* Adjust as needed */
}

.input-group {
  max-width: 1200px;
  margin: 0 auto;
 height: 45px;
 
}

/* .form-control{
  max-height: 500px;
} */

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.text-dark{
  text-align: left;
  white-space: pre-wrap !important;
  font-size: medium;
 /*  margin: 10px; */
}

.copyright-text{
  font-size: smaller;
}

.row{
  display: flex;
}

/* Add a class to keep the background color aqua */
.response-item.active {
  background-color: aqua;
  cursor: pointer;
}

/* Pseudo-element styles */
.response-item.active::after {
  content: "";
  position: absolute;
  display: block;
  background-color: aqua;
  cursor: pointer;
}

/* Original hover styles */
 .response-item:hover {
 
  background-color: aqua;
  cursor: pointer;
  
} 



.side-response textarea{
  background-color:#e0e0e0;
}

 .side-response h3{
  color: rgb(90, 89, 89);
}
/* 
.side-response{
  border: 1px solid black;
} */

